.App {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
}

.header {
  width: 100%;
  position: absolute;
  height: 50px;
}

.editor {
  height: 600px;
  background-color: white;
  margin: 10px;
}

.editor-container {
  width: 500px;
  height: 700px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: solid 1px gainsboro;
  border-radius: 2px;
}

.editor-title {
  width: 100%;
  height: 40px;
  background-color: paleturquoise;
  text-align: center;
}

.run-code-button {
  display: flex;
  align-self: center;
  width: 200px;
}

.drawing-wrapper {
  margin: 20px 20px 20px 0px;
  width: 700px;
  height: 700px;
  border: solid 1px gainsboro;
  border-radius: 2px;
}

.drawing-title {
  width: 100%;
  height: 40px;
  background-color: paleturquoise;
  text-align: center;
}

.drawing-canvas {
  background-color: white;
  margin: 10px;
  height: 640px;
}



